/*general*/
.flex{
    display: flex;
}
.jc_sb{
    justify-content: space-between;
}
body{
    color: white;
    background-color: rgb(3, 44, 49);
    font-family: "Lato";
}
a{
    text-decoration: none;
    color:white;
}
.bigFont{
    font-weight: 900;
    font-size: 4rem;
}
.blockStyling{
    background-color: rgb(1, 31, 31);
    margin: 2rem 0rem;
    padding: 2rem;
    border-radius: 2rem;
}
.subtitle{
    display: inline-block;
    color:rgb(139, 168, 168);
    font-size: 1.2rem;
}
/*header*/
header{
    padding:1rem;
}
nav{
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.1rem;
    align-items: center;
}
nav a{
    margin-right: 3rem;
}

.topSection{
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(1, 31, 31);
    padding: 2rem;
    border-radius: 2%;
}
.ctaContact{
    display: inline-block;
    font-weight: 500;
    margin-top: 3rem;
    margin-right: 1rem;
    padding:0.7rem 1.4rem;
    border-radius:1rem;
    color: white;
    font-size: 1.1rem;
    background-color: rgb(235, 130, 38);    
}
#ctaPortfolio{
    background-color: rgb(235, 130, 38);
    font-weight: 500;
    padding:0.5rem 2rem;
    border-radius: 1rem;
}
#job_title{
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:rgb(139, 168, 168);
    margin-bottom: 3rem;
}
#intro{
    margin-top: 8%;
}
#intro_text{
    display: inline-block;
    margin-right: 2rem;
}
#hi_text{
    font-size: 1rem;
}
#logo{
    margin-left: 1rem;
    font-size: 2rem;
}
/*portfolio*/
.portfolio_projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.portfolio_projects container{
    margin: 1rem 0rem;
    display: inline-block;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(1, 31, 31);
}

/*contact form*/
.contact_form{
    flex-direction: column;
    padding:2rem;
    width: 40%;
}
/*footer*/
footer{
    margin-top: 1rem;
    padding: 3rem; 
    display: block;
    border-radius: 1rem;
    background-color: rgb(1, 31, 31);
    justify-content: space-around; 
}
footer section div {
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
footer section{
    display:flex;
    flex-direction: column;
}